.root{
    -fx-font-family: "Segoe UI";
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: top left;
    -fx-background-size: cover, auto;
}

.button {
  -fx-background-color: #008000;
  -fx-border: none;
  -fx-color: white;
  -fx-text-fill: #ffffff;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-weight: bold;
}


.label {
  -fx-text-fill: #000000;
   /*  -fx-background-color: rgb(252,252,252); */
  -fx-effect: dropshadow(three-pass-box, white, 20, 0, 0, 0);
}


.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}